[data-md-color-scheme="default"] {
  --md-primary-fg-color: #bcbcbc;
  --md-primary-fg-color--light: #dfdfdf;
  --md-primary-fg-color--dark: #969696;
  --md-default-bg-color: #ffffff;
  --md-typeset-navbar-color: rgb(50, 50, 50);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #333333;
  --md-primary-fg-color--light: #424242;
  --md-primary-fg-color--dark: #292929;
  --md-default-bg-color: #1a1a1a;
  --md-typeset-navbar-color: black;
}

[data-md-color-scheme] {
  --md-accent-fg-color: #387ab1 !important;
  --md-typeset-a-color: #4183bb !important;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 2rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 2rem;
}

.md-header__button.md-logo {
  padding: 0;
}

[data-md-component="header"] {
  background-color: var(--md-primary-fg-color--dark);
  color: var(--md-typeset-navbar-color);
}

[data-md-color-scheme="slate"] [data-md-component="header"] {
  color: var(--md-default-fg-color);
}

[data-md-component="tabs"] {
  background-color: var(--md-primary-fg-color);
  color: var(--md-typeset-navbar-color);
}

[data-md-color-scheme="slate"] [data-md-component="tabs"] {
  color: var(--md-default-fg-color);
}

.md-typeset img {
  border-width: 1px;
  border-style: solid;
  padding: 1px;
}

[data-md-color-scheme="default"] .md-typeset img {
  border-color: var(--md-primary-fg-color);
}

[data-md-color-scheme="slate"] .md-typeset img {
  border-color: var(--md-primary-fg-color--light);
}
